<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Student Accommodation</title>
  <link rel="stylesheet" href="/Harmony-Website/static/css/contact.css">
  <link rel="stylesheet" href="/Harmony-Website/static/css/main.css">
  <link rel="stylesheet" href="/Harmony-Website/static/css/header.css">
  <link rel="stylesheet" href="/Harmony-Website/static/css/footer.css">
  <link rel="stylesheet" href="/Harmony-Website/static/css/dark_theme.css">
</head>
<body>
  <!-- Header -->
  <header>
    <h1>Contact Us</h1>  
  </header>
  
  </section>
  
  <main class="container">
  <section class="card">
      <h1>Contact TKC Properties</h1>
      <p>Use the link below to directly contact TKC Properties using the contact page on their website</p>
     
      <a href="https://www.tkcgroup.co.za/contact.html" target="_blank" class="btn">Visit Official Contact Page</a>
  </section>
  </main>

  <script src="/Harmony-Website/components/load-components.js" defer></script>
  
</body>
</html>
