<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/static/css/gallery.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <link rel="stylesheet" href="/static/css/dark_theme.css">

  <title>Gallery</title>
</head>

<body>

<header>
    <h1 class="header">Gallery</h1>
</header>

<main class="container">
  <div class="gallery">
  </div>

<div class="lightbox" id="lightbox">
  <img id="lightboxImg" src="" alt="">
</div>

<div class="end-message" style="display: none;">
    <p>You have reached the end.</p>
    <p>More photos will be added to gallery<p>
</div>
</main>

<div id="footer-section"></div>

<script src="/components/load-components.js" defer></script>
<script src="/static/js/gallery.js"></script>

</body>
</html>